<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="shortcut icon" href="../img/books.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/profile.css" />
    <link rel="stylesheet" href="/style/address.css" />
    <link rel="stylesheet" href="/style/flash-msg.css" />

    <title>Book Store</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/navbar.ejs') %>
        <hr class="nav-hr">

        <% if ( expressFlash.length > 0 ) { %>
          <p class='<%= class_name %>'> <%= expressFlash %></p>
          <% } %>

        <div class="path-div">
          <a href="/home">Home Pages</a>
          <p>/</p>
          <a class="color-a" href="/address">Address</a>
      </div>
      <h1>My Account</h1>
      <div class="address-container">
        <div class="profile-partision-1" >
            <ul>
                <li><a href="/profile"> My Details</a></li>
                <li><a href="/address"> My Address Book</a></li>
                <li> <a href="/orderhistory">My Orders</a></li>
                <li> <a href="/sellhistory">My Sell History</a></li>
                <li> <a href="/buyhistory">My Buy History</a></li>

            </ul>
        </div>
        <div class="address-form-div">
          <h4 class="header-h4">My Address</h4>
          <p class="profile-div-name">My Address Information</p>
          <hr class="address-hr">
          <div>
            <form action="/useraddress" method="post">
              <div class="all-input-div" >
              <% if (address_arr.length > 0) { %>
                  <input type="text" value=<%= address_arr[0]['first_name'] %>  name="first_name" placeholder="First Name" id="input-firstname">
                  <input type="number" value=<%= address_arr[0]['phone_number'] %>  name="phone_number"  id="input-number" placeholder="10-Digit Mobile Number">
                  <input type="text" value=<%= address_arr[0]['pincode'] %>  name="pincode"  placeholder="Pincode" id="input-pincode">
                  <input type="text" value=<%= address_arr[0]['locality'] %>  name="locality"  placeholder="Locality" id="input-locality">
                  <input type="text" value=<%= address_arr[0]['area'] %>  name="area"  placeholder="Address(Area and Street)" id="input-area">
                  <input type="text"  value=<%= address_arr[0]['district'] %>  name="district" placeholder="City/District/Town" id="input-city">
                  <input type="text"  value=<%= address_arr[0]['state'] %>  name="state" placeholder="State" id="input-state">
                  <input type="text"  value=<%= address_arr[0]['landmark'] %>  name="landmark" placeholder="Landmark(Optional)" id="input-landmark">
                  <input type="number" value=<%= address_arr[0]['alternate_number'] %>  name="alternate_number"  placeholder="Alternate Mobile Number" id="input-alternate-mobile">
              <% } else { %>

                  <input type="text"  name="first_name" placeholder="First Name" id="input-firstname">
                  <input type="number"  name="phone_number"  id="input-number" placeholder="10-Digit Mobile Number">
                  <input type="text"  name="pincode"  placeholder="Pincode" id="input-pincode">
                  <input type="text"   name="locality"  placeholder="Locality" id="input-locality">
                  <input type="text"   name="area"  placeholder="Address(Area and Street)" id="input-area">
                  <input type="text"    name="district" placeholder="City/District/Town" id="input-city">
                  <input type="text"    name="state" placeholder="State" id="input-state">
                  <input type="text"   name="landmark" placeholder="Landmark(Optional)" id="input-landmark">
                  <input type="number"   name="alternate_number"  placeholder="Alternate Mobile Number" id="input-alternate-mobile">
              <% } %>
                
                  <button type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <hr class="footer-hr" />
      <%- include('../partials/footer.ejs') %>
    </div>   
  </body>

  <script src="/src/address.js"></script>
</html>
