<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/books.png" type="image/x-icon" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/flash-msg.css" />
    <link rel="stylesheet" href="/style/sell.css" />


    <title>Book Store</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/navbar.ejs') %>
      <% if ( expressFlash.length > 0 ) { %>
        <p class='<%= class_name %>'><%= expressFlash %></p>
        <% } %>
      <div class="sell-body">
        <hr class="newhr"/>
        <div class="book-list">
          <p>Already In Sell Books</p>
          <% if (locals.nobooksmsg) { %>
            <p class="nobookp"><%= nobooksmsg %></p>
          <% } %>
         
          
          <ul>
          <% if (locals.books) { %>
               <% books.forEach(element => { %>
            <li>
              <span class="booknamespan"><%= element.bookname %></span>
              <span > <%= element.price %> &dollar;</span>
              <span id="updatedelete">
                <form action="/delete/<%=element.bookname%>" method="get">
                  <button name="<%= element.bookname %>" id="deletebookbtn" type="submit"><i id="deletebook" class="fa-solid fa-trash"></i></button>
                </form> 
                <form action="/update/<%= element.bookname %>" method="post">
                  <button name="<%= element.bookname %>" id="deletebookbtn" type="submit"><i class="fa-regular fa-pen-to-square"></i></button>
                </form>
              </span>
            </li>
            <% }) %>
            <% } %>
          </ul>
        </div>
      </div>

        <hr />
        <div class="add-new-book">
          <h1>Add New Book</h1>
          <form action="/addbook" method="post" enctype="multipart/form-data">
            <input
              type="text"
              name="bookname"
              placeholder="Enter A Book Name"
              id="bookname"
            />
            <input
              type="number"
              name="price"
              placeholder="Enter A price Of Book"
              id="price"
            />
            <input
              type="number"
              name="quantity"
              placeholder="Enter A Quantity Of Book"
              id="price"
            />
            <div class="select">
              <select name="booktype" class="formet" id="book-type" aria-placeholder="Catagory">
                <option value="none">Type Of Books</option>
                <option value="Horror">Horror</option>
                <option value="Rommance">Rommance</option>
                <option value="Mystery">Mystery</option>
                <option value="Poetry">Poetry</option>
                <option value="Essays">Essays</option>
                <option value="Self-help">Self-help</option>
                <option value="Memair">Memair</option>
                <option value="Classics">Classics</option>
                <option value="Cookbooks">Cookbooks</option>
              </select>
            </div>
           
            <input
              type="text"
              name="authorname"
              placeholder="Enter A Author Name"
              id="authorname"
            />
            <input
              type="file"
              placeholder="Upload image"
              name="inputimg"
              id="inputimg"
            />
            <button id="submitbtn" type="submit">submit</button>
          </form>
        </div>
      <hr class="footer-hr" />
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
  <script src="/src/sell.js"></script>
  <script src="/src/updatebook.js"></script>

</html>
